<form action="" style="text-align: center;">
    <h1 id="MessageBox" >Welcome user, you have logged in 1 times</h1>
    <div>
        <input id="signupButton" type="submit" value="Logout" />
    </div>
</form>


